<?xml version="1.0" encoding="UTF-8"?>
<Network xmlns="http://soap.sforce.com/2006/04/metadata">
    <allowInternalUserLogin>false</allowInternalUserLogin>
    <allowMembersToFlag>true</allowMembersToFlag>
    <changePasswordTemplate>All/PHSS_IC_Change_Password</changePasswordTemplate>
    <communityRoles>
        <customerUserRole>Instructor</customerUserRole>
        <employeeUserRole>Employee</employeeUserRole>
        <partnerUserRole>Partner</partnerUserRole>
    </communityRoles>
    <description>Website for Instructors to stream &amp; download course materials, collaborate in the forum and get online support.</description>
    <disableReputationRecordConversations>true</disableReputationRecordConversations>
    <emailFooterLogo>Communities_Shared_Document_Folder/American_Red_Cross.png</emailFooterLogo>
    <emailFooterText>© 2018 The American National Red Cross</emailFooterText>
    <emailSenderAddress>InstructorsCorner@redcross.org</emailSenderAddress>
    <emailSenderName>American Red Cross</emailSenderName>
    <enableCustomVFErrorPageOverrides>false</enableCustomVFErrorPageOverrides>
    <enableDirectMessages>false</enableDirectMessages>
    <enableGuestChatter>true</enableGuestChatter>
    <enableGuestFileAccess>true</enableGuestFileAccess>
    <enableInvitation>false</enableInvitation>
    <enableKnowledgeable>true</enableKnowledgeable>
    <enableMemberVisibility>true</enableMemberVisibility>
    <enableNicknameDisplay>true</enableNicknameDisplay>
    <enablePrivateMessages>true</enablePrivateMessages>
    <enableReputation>true</enableReputation>
    <enableShowAllNetworkSettings>true</enableShowAllNetworkSettings>
    <enableSiteAsContainer>true</enableSiteAsContainer>
    <enableTalkingAboutStats>true</enableTalkingAboutStats>
    <enableTopicAssignmentRules>false</enableTopicAssignmentRules>
    <enableTopicSuggestions>true</enableTopicSuggestions>
    <enableUpDownVote>false</enableUpDownVote>
    <forgotPasswordTemplate>All/PHSS_IC_Forgot_Password</forgotPasswordTemplate>
    <gatherCustomerSentimentData>false</gatherCustomerSentimentData>
    <logoutUrl>https://www.instructorscorner.org/s/login</logoutUrl>
    <navigationLinkSet>
        <navigationMenuItem>
            <label>Teaching</label>
            <position>1</position>
            <publiclyAvailable>true</publiclyAvailable>
            <target>/phss-programs</target>
            <type>InternalLink</type>
        </navigationMenuItem>
        <navigationMenuItem>
            <label>Resources</label>
            <position>2</position>
            <publiclyAvailable>true</publiclyAvailable>
            <subMenu>
                <navigationMenuItem>
                    <label>Set Up Classes</label>
                    <position>0</position>
                    <publiclyAvailable>true</publiclyAvailable>
                    <target>/set-up-classes</target>
                    <type>InternalLink</type>
                </navigationMenuItem>
                <navigationMenuItem>
                    <label>Submit Classes</label>
                    <position>1</position>
                    <publiclyAvailable>true</publiclyAvailable>
                    <target>/submit-classes</target>
                    <type>InternalLink</type>
                </navigationMenuItem>
                <navigationMenuItem>
                    <label>Administration Information</label>
                    <position>2</position>
                    <publiclyAvailable>true</publiclyAvailable>
                    <target>/administration-information</target>
                    <type>InternalLink</type>
                </navigationMenuItem>
                <navigationMenuItem>
                    <label>About the Science</label>
                    <position>3</position>
                    <publiclyAvailable>true</publiclyAvailable>
                    <target>/science</target>
                    <type>InternalLink</type>
                </navigationMenuItem>
                <navigationMenuItem>
                    <label>How to Information and Videos</label>
                    <position>4</position>
                    <publiclyAvailable>true</publiclyAvailable>
                    <target>/how-to-videos</target>
                    <type>InternalLink</type>
                </navigationMenuItem>
            </subMenu>
            <type>MenuLabel</type>
        </navigationMenuItem>
        <navigationMenuItem>
            <label>Instructor Lifecycle</label>
            <position>3</position>
            <publiclyAvailable>true</publiclyAvailable>
            <subMenu>
                <navigationMenuItem>
                    <label>Onboarding</label>
                    <position>0</position>
                    <publiclyAvailable>true</publiclyAvailable>
                    <target>/onboarding</target>
                    <type>InternalLink</type>
                </navigationMenuItem>
                <navigationMenuItem>
                    <label>Recertification</label>
                    <position>1</position>
                    <publiclyAvailable>true</publiclyAvailable>
                    <target>/recertification</target>
                    <type>InternalLink</type>
                </navigationMenuItem>
                <navigationMenuItem>
                    <label>Program Updates</label>
                    <position>2</position>
                    <publiclyAvailable>true</publiclyAvailable>
                    <target>/program-updates</target>
                    <type>InternalLink</type>
                </navigationMenuItem>
                <navigationMenuItem>
                    <label>Bridging</label>
                    <position>3</position>
                    <publiclyAvailable>true</publiclyAvailable>
                    <target>/bridging</target>
                    <type>InternalLink</type>
                </navigationMenuItem>
                <navigationMenuItem>
                    <label>IT Candidate</label>
                    <position>4</position>
                    <publiclyAvailable>true</publiclyAvailable>
                    <target>/it-candidate</target>
                    <type>InternalLink</type>
                </navigationMenuItem>
            </subMenu>
            <type>MenuLabel</type>
        </navigationMenuItem>
        <navigationMenuItem>
            <defaultListViewId>All_ChatterGroups</defaultListViewId>
            <label>Community</label>
            <position>4</position>
            <publiclyAvailable>true</publiclyAvailable>
            <target>CollaborationGroup</target>
            <type>SalesforceObject</type>
        </navigationMenuItem>
        <navigationMenuItem>
            <label>News</label>
            <position>5</position>
            <publiclyAvailable>true</publiclyAvailable>
            <target>/recent-news</target>
            <type>InternalLink</type>
        </navigationMenuItem>
        <navigationMenuItem>
            <label>Candidates</label>
            <position>6</position>
            <publiclyAvailable>true</publiclyAvailable>
            <target>/welcome</target>
            <type>InternalLink</type>
        </navigationMenuItem>
        <navigationMenuItem>
            <label>Questions?</label>
            <position>7</position>
            <publiclyAvailable>true</publiclyAvailable>
            <target>/questions</target>
            <type>InternalLink</type>
        </navigationMenuItem>
    </navigationLinkSet>
    <networkMemberGroups>
        <permissionSet>PHSS_IC_Community_Access_TEST</permissionSet>
        <permissionSet>PHSS_IC_Community_Access</permissionSet>
        <profile>Admin</profile>
        <profile>ARC %2F TSC Agent</profile>
        <profile>ARC %2F TSC Manager</profile>
        <profile>PHSS-IC-Community Plus Login TEST</profile>
        <profile>PHSS-IC-Community Plus Login BETA</profile>
        <profile>ARC BGST Sales Admin</profile>
        <profile>ARC BGST Sales User</profile>
        <profile>PHSS-IC-Community Plus Login</profile>
        <profile>SB PHSS-IC-Community Plus Login</profile>
        <profile>ARC RSG Agent</profile>
        <profile>SB ARC %2F TSC Agent</profile>
        <profile>SB ARC %2F TSC Manager</profile>
        <profile>Partner Community Profile</profile>
    </networkMemberGroups>
    <networkPageOverrides>
        <changePasswordPageOverrideSetting>VisualForce</changePasswordPageOverrideSetting>
        <forgotPasswordPageOverrideSetting>Designer</forgotPasswordPageOverrideSetting>
        <homePageOverrideSetting>Designer</homePageOverrideSetting>
        <loginPageOverrideSetting>Designer</loginPageOverrideSetting>
        <selfRegProfilePageOverrideSetting>Designer</selfRegProfilePageOverrideSetting>
    </networkPageOverrides>
    <picassoSite>Instructor_s_Corner1</picassoSite>
    <reputationLevels>
        <level>
            <label>Beginner</label>
            <lowerThreshold>0.0</lowerThreshold>
        </level>
        <level>
            <label>Advanced</label>
            <lowerThreshold>51.0</lowerThreshold>
        </level>
        <level>
            <label>Guru</label>
            <lowerThreshold>151.0</lowerThreshold>
        </level>
        <level>
            <label>Jedi</label>
            <lowerThreshold>401.0</lowerThreshold>
        </level>
        <level>
            <label>Sensi</label>
            <lowerThreshold>801.0</lowerThreshold>
        </level>
        <level>
            <lowerThreshold>1501.0</lowerThreshold>
        </level>
        <level>
            <lowerThreshold>2501.0</lowerThreshold>
        </level>
        <level>
            <lowerThreshold>4001.0</lowerThreshold>
        </level>
        <level>
            <lowerThreshold>6001.0</lowerThreshold>
        </level>
        <level>
            <lowerThreshold>10001.0</lowerThreshold>
        </level>
    </reputationLevels>
    <reputationPointsRules>
        <pointsRule>
            <eventType>FeedItemPostQuestion</eventType>
            <points>1</points>
        </pointsRule>
        <pointsRule>
            <eventType>FeedItemAnswerAQuestion</eventType>
            <points>5</points>
        </pointsRule>
        <pointsRule>
            <eventType>EndorsedForKnowledgeOnATopic</eventType>
            <points>5</points>
        </pointsRule>
        <pointsRule>
            <eventType>FeedItemReceiveAnAnswer</eventType>
            <points>5</points>
        </pointsRule>
        <pointsRule>
            <eventType>EndorseSomeoneForKnowledgeOnATopic</eventType>
            <points>5</points>
        </pointsRule>
        <pointsRule>
            <eventType>FeedItemYourAnswerMarkedBest</eventType>
            <points>5</points>
        </pointsRule>
        <pointsRule>
            <eventType>FeedItemLikeSomething</eventType>
            <points>1</points>
        </pointsRule>
        <pointsRule>
            <eventType>FeedItemShareAPost</eventType>
            <points>1</points>
        </pointsRule>
        <pointsRule>
            <eventType>FeedItemReceiveAMention</eventType>
            <points>5</points>
        </pointsRule>
        <pointsRule>
            <eventType>FeedItemReceiveAComment</eventType>
            <points>5</points>
        </pointsRule>
        <pointsRule>
            <eventType>FeedItemMarkAnswerAsBest</eventType>
            <points>5</points>
        </pointsRule>
        <pointsRule>
            <eventType>FeedItemMentionSomeone</eventType>
            <points>0</points>
        </pointsRule>
        <pointsRule>
            <eventType>FeedItemReceiveALike</eventType>
            <points>5</points>
        </pointsRule>
        <pointsRule>
            <eventType>FeedItemWriteAComment</eventType>
            <points>1</points>
        </pointsRule>
        <pointsRule>
            <eventType>FeedItemWriteAPost</eventType>
            <points>1</points>
        </pointsRule>
        <pointsRule>
            <eventType>FeedItemSomeoneSharesYourPost</eventType>
            <points>5</points>
        </pointsRule>
    </reputationPointsRules>
    <selfRegistration>false</selfRegistration>
    <sendWelcomeEmail>false</sendWelcomeEmail>
    <site>Instructor_s_Corner</site>
    <status>Live</status>
    <tabs>
        <defaultTab>home</defaultTab>
        <standardTab>Chatter</standardTab>
    </tabs>
    <urlPathPrefix>instructorscorner</urlPathPrefix>
    <welcomeTemplate>All/PHSS_IC_Welcome_Email</welcomeTemplate>
</Network>
